<!DOCTYPE html>
<html>
<head>
<title>M-Facti Fact Search</title>
<meta name="description" content="Small Data. Big Knowledge.">
<meta name="keywords" content="simple, search, small data, fast, search, languages, ">
</head>

<body>
M-Facti<br>
<form action="/search" method="POST">
  <input type="text" id="q" name="q"> 
  <input type="submit" value="Go">
</form>
<div id="responses" {% if result == None: print('display:none') endif%}>
<p id="output">{{result}}</p>
<p id="link"><a href="{{link}}">Read more</a></p>
<p id="goog"><a href="{{goog}}">Google Search</a></p>
</div>
<style> 
body{
	background-color: white;
	text-align: center;
	margin: 0;
    padding: 0;
}
p{
	margin: 0;
    padding: 0;
}
 .textbox { 
	background-color: white;
	margin: 0;
    padding: 0;
  } 
  
</style> 
</body>
</html>


